$max-width: 700px;
.main {
  >div:not(:first-child) {
    margin: 50px 0;
  }

  .myProjectsTitle {
    font-size: 30px;
  }
  
  h1, h3 {
    text-transform: uppercase;
  }

  li {
    list-style: none;
  }
  
  .photo {
    margin-left: 0;
    img {
      @media screen and (max-width: $max-width) {
        margin-left: 0;
      }
    }
  }

  .me {
    border-left: 2px solid grey;
    padding-left: 15px;
    @media screen and (max-width: $max-width) {
      padding-left: 0;
      border-left: 0px solid transparent;
    }
  }
  
  .skillset {
    font-size: 14px;
  }

  .skillsetWorkExperienceGroup,
  .photoMeGroup {
    display: flex;
    @media screen and (max-width: $max-width) {
      flex-direction: column;
      gap: 50px;
    }
  }

  .photoMeGroup {
    gap: 35px;
    align-items: center;
    font-weight: 500;
    background-color: transparent;
    color: black;
    a {
      color: black;
    }
  }

  .workExperience {
    font-size: 13px;
    h3 {
      font-size: 16px;
    }
    >ul>li {
      margin-top: 20px;
      padding-right: 20px;
    }
    >ul>li:first-child {
      padding-bottom: 19px;
      padding-top: 20px;
    }
  }

  .contacts {
    margin-top: 15px;
    @media screen and (max-width: $max-width) {
      margin-top: 50px;
    }
    a {
      text-decoration: none;
    }
    b {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}
