$max-width: 700px;
.main {
  >div:not(:first-child) {
    margin: 50px 0;
  }

  h3 {
    text-transform: uppercase;
  }

  a {
    text-decoration: none;
    font-weight: bold;
    color: rebeccapurple;
  }

  li {
    list-style: none;
  }
  
  .photo {
    img {
      margin-left: 30px;
      @media screen and (max-width: $max-width) {
        margin-left: 0;
      }
    }
  }
  
  .skillset {
    min-width: 155px;
    border-right: 2px solid rebeccapurple;
    border-left: 2px solid rebeccapurple;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 14px;
  }

  .skillsetWorkExperienceGroup,
  .photoMeGroup {
    display: flex;
    @media screen and (max-width: $max-width) {
      flex-direction: column;
      gap: 50px;
    }
  }

  .photoMeGroup {
    gap: 50px;
    align-items: center;
    min-height: 214px;
    font-weight: 500;
    background-color: transparent;
    color: black;
    padding: 1rem;
    border-radius: 10px;
    border: 2px solid grey;
  }

  .workExperience {
    font-size: 13px;
    h3 {
      font-size: 16px;
    }
    >ul>li {
      margin-top: 20px;
      padding-right: 20px;
    }
    >ul>li:first-child{
      border-bottom: 2px solid rebeccapurple;
      border-top: 2px solid rebeccapurple;
      padding-bottom: 19px;
      padding-top: 20px;
    }
  }

  .contacts {
    margin-top: 15px;
    @media screen and (max-width: $max-width) {
      margin-top: 50px;
    }
    a {
      text-decoration: none;
    }
    b {
      text-transform: uppercase;
      font-size: 12px;
    }
  }
}