
.item {
  >div {
    margin: 10px 0;
  }
  img[alt$="7388.gif"],
  img[alt$="7f8b52e5be04.gif"], 
  video {
    border: 1px solid transparent;
    border-radius: 7px;
  }
  img[alt$="7388.gif"] {
    width: 295px;
    height: auto;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  video {
    width: 100%;
    border: 1px solid transparent;
    background: black;
  }
}
