
.item {
  >div {
    margin: 10px 0;
  }
  img[src$="7388.gif"] {
    width: 332px;
    border: 1px solid transparent;
    border-radius: 7px;
  }
  .desc {
    a {
      text-decoration: underline;
    }
  }
}